@{
    ViewData["Title"] = "iPhone 16";
}
@model Purchase
<div class="text-center">
    <h1>iPhone16</h1>
    <img  src="/iphone16.jpg"/>
    <br />
    <h2>R$ 4990</h2>
    <button class="btn btn-danger">Comprar</button>
</div>
