@{
    ViewData["Title"] = "iPhone 16";
}

<div class="text-center">
    <h1>iPhone 16</h1> 
    <img src="/iphone16.jpg" alt="iPhone 16" />
    <br />
    <h2>R$ 5.000,00</h2> 
    <form asp-action="Purchase" asp-controller="Purchase" method="post" enctype="multipart/form-data">

        <input type="hidden" name="ProductName" value="iPhone 16" />
        <input type="hidden" name="Price" value="5000.00" />

        <button type="submit" class="btn btn-danger">Comprar</button>
    </form>
</div>
